*
{
  box-sizing: border-box;
}

img
{
  max-width: 200px;
}

html
{
  background: linear-gradient(90deg, var(--blue-100) 0%, var(--green-100) 100%);
  background-attachment: fixed;
  margin: 0;
}

body 
{
  font-family: sans-serif;
}

#content
{
  width: min(800px, 90%);
  margin: 0 auto;
}

/* Section Header ----------------------------- */

.section-header
{
  background: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #eee;
}

.section-header .details-wrapper
{
  display: none;
}
  
/* Listings --------------------------------- */


.listing-wrapper
{
  display: flex;
  flex-direction: column;
  margin-block: var(--size-4);
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: var(--size-2);
  transition: 2s;
}

.listing-wrapper.expanded
{
  position: fixed;
  top: 2vh;
  left: 2vw;
  width: 90vw;
  height: 90vh;
}

.listing-wrapper.secondary
{
  margin-left: var(--size-4);
}

.header-wrapper
{
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
}

.hero-wrapper
{

}

.title-wrapper
{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title-wrapper .tag.parent
{
  display: inline-flex;
  gap: 4px;
}

.title-wrapper .tag
{
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: var(--text-xsmall);
  padding: var(--size-0-5) var(--size-1);
  border-radius: var(--radius-rounded);
  background: rgba(0, 0, 0, 0.12);
  color: black;
}

.details-wrapper
{
  display: none;
  border: 1px solid #eee;
}