*
{
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
}

img
{
  display: block;
  width: 100%;
}

html
{
  background: linear-gradient(90deg, var(--blue-100) 0%, var(--green-100) 100%);
  background-attachment: fixed;
  margin: 0;
}

.no-scroll html,
.no-scroll body
{
  overflow-y: hidden;
}

body 
{
  font-family: sans-serif;
  margin-block-end: 20vh;
  margin-inline: auto;
  width: min(1000px, 90%);
}

ul
{
  padding-inline-start: var(--size-3) !important;
}



/* Intro ----------------------------- */

.intro-wrapper
{
  padding: var(--size-12);
  text-align: center;
}





/* Section Stucture ----------------------------- */

.section-wrapper
{
  display: flex;
  flex-direction: row;
  gap: var(--size-2);
}


        @media screen and (max-width: 800px) {
          .section-wrapper
          {
            flex-direction: column;
          }
        }

.section-inner
{
  display: flex;
  flex-direction: column;
}


.column-type .parent-type-label,
.column-parent .parent-listing
{
  position: sticky;
  top: var(--size-2);
}

.inner-wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: var(--size-4);
}

.column-child
{
  flex-grow: 1;
  width: 100%;
}



      @media screen and (max-width: 800px) {
        .inner-wrapper
        {
          flex-direction: column;
        }
      }





/* Section Header ----------------------------- */

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--size-3) var(--size-4);
}

.layout-control.active
{
  border: 2px solid mediumseagreen;
}





/* Parent Type--------------------------------- */

.section-wrapper
{
  --line-offest: 0;
  --line-size: 100%;
  --line-color: var(--grey-200);
}

.column-type
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 800px) {
  .column-type
  {
    position: sticky;
    top: 0;
    z-index: 500;
  }
  
}


.column-type::before
{
  content: '';
  position: absolute;
  top: var(--line-offest);
  left: calc(var(--size-30) * -1);
  width: 1px;
  height: var(--line-size);
  background: var(--line-color);
}


.column-type::after
{
  content: '';
  position: absolute;
  top: var(--line-offest);
  left: 0;
  width: 1px;
  height: var(--line-size);
  background: var(--line-color);
}

        @media screen and (max-width: 800px)
        {
          .column-type::before,
          .column-type::after
          {
            display: none;
          }
          .column-type
          {
            border-bottom: 1px solid var(--grey-200);
          }
        }



.parent-type
{
  position: sticky;
  top: var(--size-2);
  writing-mode: tb;  
  padding-block: var(--size-3);
  margin-bottom: var(--size-2);
}

        @media screen and (max-width: 800px)
        {
          .parent-type
          {
            writing-mode: lr;
          }
        }

.parent-type::after
{
  content: '↬';
  position: absolute;
  top: var(--size-4);
  right: calc(var(--size-2) * -1);
  transform: translateY(-50%) rotate(-90deg);
  --size: var(--size-4);
  width: var(--size);
  height: var(--size);
  background: var(--blue-100);
  border: 0px solid var(--grey-200);
  border-radius: var(--radius-rounded);
  text-align: center;
  line-height: 1.4;
  font-size: 24px;
}

          @media screen and (max-width: 800px)
          {
            .parent-type > div::after
            {
              display: none;
            }
          }




/* Inner Column Parent --------------------------------- */

.column-parent
{
  position: relative;
  width: calc(var(--size-20) * 2);
}

.column-parent:before
{
  content: '';
  position: absolute;
  top: var(--line-offest);
  left: calc(var(--size-2) * -1);
  width: 1px;
  height: var(--line-size);
  background: var(--line-color);
  z-index: -1;
}

.column-parent:after
{
  content: '';
  position: absolute;
  top: var(--line-offest);
  right: calc(var(--size-2) * -1);
  width: 1px;
  height: var(--line-size);
  background: var(--line-color);
  z-index: -1;
}

    @media screen and (max-width: 800px) {
      .column-parent
      {
        position: sticky;
        top: var(--size-1);
        width: 100%;
        z-index: 500;
      }
    }


/* Inner Column Child --------------------------------- */

.column-child
{
  position: relative;
}

.column-child:before
{
  content: '';
  position: absolute;
  top: var(--line-offest);
  right: calc(var(--size-2) * -1);
  width: 1px;
  height: var(--line-size);
  background: var(--line-color);
  z-index: -1;
}

.column-child:after
{
  content: '';
  position: absolute;
  top: var(--line-offest);
  right: calc(var(--size-30) * -1);
  width: 1px;
  height: var(--line-size);
  background: var(--line-color);
  z-index: -1;
}

        @media screen and (max-width: 1400px) {

          .column-child:after
          {
            display: none;
          }
        }

.column-child .listing-wrapper:last-of-type
{
  margin-bottom: var(--size-12) !important;
  border-bottom: none !important;
}


/* Listings --------------------------------- */

.parent-listing
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--size-2);
  padding: calc(var(--size-1) *8.4) var(--size-2);
  border-bottom: 1px solid var(--grey-200);
  margin-bottom: var(--size-2);
}

.parent-listing h6
{
  margin-bottom: 0 !important;
}

.parent-listing svg
{
  width: calc(var(--size-4) *1.15);
  height: auto;
}

.parent-listing::after
{
  content: '↬';
  position: absolute;
  top: var(--size-4);
  right: calc(var(--size-4) * -1);
  transform: translateY(-50%);
  --size: var(--size-4);
  width: var(--size);
  height: var(--size);
  background: var(--blue-100);
  border: 0px solid var(--grey-200);
  border-radius: var(--radius-rounded);
  text-align: center;
  line-height: 1.4;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  .parent-listing
  {
    flex-direction: row;
  }
  .parent-listing::after
  {
    display: none;
  }
}


.listing-wrapper
{
  display: flex;
  flex-direction: column;
  padding: var(--size-4) var(--size-2);
  border-bottom: 1px solid var(--grey-200);
  top: 50%;
  left: 20%;
}

button.expand-this
{
  display: flex;
  align-items: center;
  gap: var(--size-1);
  border: none;
  background: white;
  border-radius: var(--radius-md);
  color: var(--text);
  padding: var(--size-1) var(--size-2);
}

button svg
{
  --size: var(--size-2);
  width: var(--size);
  height: var(--size);
}

/* Listings - Layout Style --------------------------------- */

.layout-compact .listing-wrapper
{
  border: 2px solid purple;
}

.layout-default .listing-wrapper
{

}

.layout-expanded .listing-wrapper
{
  border: 2px solid blue;
}





/* Listings - Expanded --------------------------------- */


.listing-wrapper.expanded
{
  --margin: var(--size-12);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - var(--margin));
  height: calc(100vh - var(--margin));
  max-width: 1400px;
  background: var(--white);
  box-shadow: var(--shadow-lg);
  border-radius: var(--radius-lg);
  padding: var(--size-6);
  margin: 0 !important;
  z-index: 999;
  transition: calc(var(--transition) / 2);
}

        @media screen and (max-width: 800px) {
          .listing-wrapper.expanded
          {
            --margin: var(--size-6);
          }
        }


.header-wrapper
{
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
}

.hero-wrapper
{
  width: 25%;
}

      @media screen and (max-width: 800px) {
        .header-wrapper
        {
          flex-direction: column;
        }
        .hero-wrapper
        {
          width: 50%;
          margin-inline: auto;
        }
      }


.title-wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--size-2);
}

.title-wrapper .title
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-1);
}

.title-wrapper .title *
{
  margin-block-end: 0 !important;
}

.content-wrapper
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  gap: var(--size-2);
}

.tags-wrapper
{
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag.parent
{
  display: inline-flex;
  gap: 4px;
}

.tag
{
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: var(--text-xsmall);
  padding: var(--size-0-5) var(--size-1);
  border-radius: var(--radius-rounded);
  background: rgba(0, 0, 0, 0.12);
  color: black;
}




/* Details --------------------------------- */

.details-wrapper
{
  height: 0;
  overflow: hidden;
  margin: 0;
}

.details-wrapper .details-content-wrapper
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

        @media screen and (max-width: 800px) {
          .details-wrapper .details-content-wrapper
          {
            grid-template-columns: repeat(1, 1fr);
          }
        }

.listing-wrapper.expanded .details-wrapper
{
  display: block;
  height: auto;
  margin-block: var(--size-4);
  padding-top: var(--size-4);
  border-top: 1px solid var(--grey-200);
}


.details-wrapper img
{
  max-width: 300px;
}